<div class="container_start">

<h1>
    Mostre que você é mais que fã. <br>
     Você é <strong>FURIOSO!</strong>
</h1>
<p>
    <strong>Participe do clube exclusivo de fãs da FURIA</strong> e descubra um novo jeito de viver a emoção dos jogos.
    Conecte-se com outros fãs, acompanhe <strong>conteúdos personalizados</strong> e acumule pontos na sua
    <strong>barra de Furiosidade</strong>. Quanto mais engajado você for, maiores as suas chances de concorrer a
    <strong>prêmios exclusivos</strong> — incluindo a oportunidade de <strong>jogar com um jogador profissional da FURIA</strong>!
  </p>

  <button class="button_start" [routerLink]="['/options']">
    Crie seu perfil
  </button>

</div>
