  
  .auth-container {
    border-radius: 30px;
    background: #111;
    width:500px;
    height: 400px;
    margin-top: 10px;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    max-width: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  h1 {
    font-size: 50px;
    margin-bottom: 2rem;
    background: #111;
  }
  
  .highlight {
    font-weight: bold;
    background: linear-gradient(to right, #FFD700, #FF8C00);
    -webkit-background-clip: text;
    background-clip: text; /* <-- Adicionado para compatibilidade */
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
  
  
  .google-btn {
    background-color: #ddd;
    border: none;
    border-radius: 2rem;
    padding: 0.75rem 1.5rem;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .separator {
    margin: 1rem 0;
    color: #ccc;
    background: #111;
  }
  
  .auth-actions {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    background: #111;
  }
  
  .action-btn {
    flex: 1;
    background-color: black;
    color: yellow;
    border: none;
    border-radius: 2rem;
    padding: 0.75rem;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
  }
  
  .action-btn:hover {
    background-color: #222;
  }
  